<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Comments for {{selectedLink.title}}</h4>

      <ol>
        <li ng-repeat="item in selectedLink.comments | orderBy:'rankingCounter': true">
          {{item.comment}}
          <button class="btn btn-primary" ng-click="item.upvote()"><span class="glyphicon glyphicon-sunglasses"></span> {{item.voteCounter}}</button>
          <p>by {{item.name}} </p>
          <!-- <input ng-model="reply">
          <button ng-click="item.reply(reply)">reply</button>
          <ul>
            <li ng-repeat="reply in item.replies">
              {{item.reply}}
            </li>
          </ul> -->
        </li>
      </ol>


      <h4>Add a comment</h4>
      <form ng-submit="addComment()" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" ng-model="userName" class="form-control" placeholder="Enter User Name"> <br>
          <textarea ng-model="comment" class="form-control" rows="4" col="50" placeholder="Enter comment"></textarea>
        </div>
        <button ng-click="mostRecent()" type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>


<h3><a ui-sref="home">Return Home</a></h3>
